body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: #000000;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #5ba8e3;
    /*#4caf50;*/
    color: white;
    border: none;
    border-radius: 5px;
}

.toggleButton {
    margin-top: 10px; /* Add margin between the two buttons */
}

#generator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Add gap between the buttons and the character container */
}

#history-container {
    max-height: 0;
    overflow-y: auto;
    transition: max-height 0.3s ease; /* Add smooth transition effect */
    border-top: 1px solid #ccc;
    padding-top: 10px;
}


.history-item {
    margin-bottom: 10px; /* Add margin between each character in the history */
    border-bottom: 1px solid #ccc; /* Add a bottom border to separate characters */
    padding-bottom: 10px; /* Add padding for better separation */
}
